%body
- content_for :css do
  = stylesheet_link_tag 'modules/tweets'
  %header.header
    .header__bar
      %h1.grid
        = link_to 'APEX.streamer', root_path, class: "header__left"
        - if user_signed_in?
          .user_nav
            .user-name
              = "#{current_user.name}さん"
            .user-info
              -# = link_to "マイページ", "/users/#{current_user.id}", class: "mypage"
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout"
              = link_to "投稿する", new_tweet_path, class: "post"
        - else
          .grid-6
            = link_to "ログイン", new_user_session_path, class: "post"
            = link_to "新規登録", new_user_registration_path, class: "post"
  .contents.row
    - @tweets.each do |tweet|
      .content_post
        .tweet-user-name
          = tweet.user.name
        .tweet-text
          = tweet.text
        .more
          = image_tag tweet.image.url, class: "tweet-image"
          .more_list
            = link_to '削除', tweet_path(tweet.id), method: :delete
       
